* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.backbody {
  background-color: #ccfdff;
  font-family: 'Mukta', sans-serif; }

nav {
  background-color: #002936;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999; }
  nav .up {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .up .logo {
      padding: 5px; }
      nav .up .logo a img {
        width: 60px;
        height: 100%;
        object-fit: contain;
        padding: 5px;
        transition: 0.3s; }
        nav .up .logo a img:hover {
          transform: scale(1.15); }
    nav .up .hamb {
      padding: 5px; }
      nav .up .hamb label img {
        display: none; }
      nav .up .hamb input {
        display: none; }
      nav .up .hamb ul {
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
        margin-right: 1rem; }
      nav .up .hamb li {
        list-style: none; }
        nav .up .hamb li a {
          color: white;
          font-size: 1.2rem;
          font-weight: 500;
          list-style: none;
          text-decoration: none;
          --clippy: polygon(0 0, 0 0, 0 100%, 0 100%); }
          nav .up .hamb li a::after {
            content: "";
            display: block;
            background-color: white;
            width: 90%;
            height: 3px;
            margin-top: 1px;
            clip-path: var(--clippy);
            transition: 0.5s; }
          nav .up .hamb li a:hover {
            --clippy: polygon(0 0, 100% 0, 100% 99%, 0 100%);
            color: white; }

.down {
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 998;
  background-color: #054250; }
  .down .aa1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #054250;
    margin: 0;
    padding: 0; }
    .down .aa1 li {
      margin: 100px 6px 0 6px;
      list-style: none; }
      .down .aa1 li a {
        text-decoration: none;
        color: white; }
        .down .aa1 li a:hover {
          color: #002936;
          transition: 0.4s; }
  .down .aa2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #054250;
    margin: 0;
    padding: 0; }
    .down .aa2 li {
      list-style: none; }
      .down .aa2 li a {
        text-decoration: none;
        color: white; }
        .down .aa2 li a:hover {
          color: #002936;
          transition: 0.4s; }

/* Navegador - media query - 767px*/
@media screen and (max-width: 767px) {
  nav .up .hamb label img {
    display: block;
    cursor: pointer;
    margin-right: 1rem; }
  nav .up .hamb ul {
    z-index: 9999;
    position: fixed;
    top: 90px;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #7fb1b4;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 1s ease-in-out; }
  nav .up .hamb li {
    color: black;
    font-weight: 600; }
    nav .up .hamb li a {
      color: #002936;
      font-weight: 600; }
  nav .up .hamb input:checked + ul {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

header {
  width: 100%;
  height: 100%;
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }
  header div {
    position: relative; }
    header div img {
      max-width: 30px;
      position: absolute;
      left: 2px;
      top: 5px; }
    header div input {
      width: 300px;
      height: 40px;
      border-radius: 0.8rem;
      border: solid #002936;
      text-indent: 30px; }
  header h1 {
    font-weight: 800;
    font-style: italic;
    font-size: 6rem; }

@media screen and (max-width: 769px) {
  header h1 {
    font-size: 4rem;
    text-align: center; }
  header div input {
    width: 250px; } }

@media screen and (max-width: 376px) {
  header h1 {
    font-size: 4rem;
    margin-top: 1rem; }
  header .h1-contacto {
    margin-top: 0;
    transform: translateY(-10px); } }

main {
  width: 100%; }
  main .carru {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    main .carru > div {
      width: 80%; }
  main h2 {
    margin: 2rem 0 0 3.5rem;
    font-size: 2rem;
    font-weight: 900; }

.tarjetas {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .tarjetas .tarjeta {
    width: 280px;
    background-color: #177988;
    margin: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .tarjetas .tarjeta img {
      width: 220px;
      height: 300px;
      object-fit: contain;
      margin-top: 1rem; }
    .tarjetas .tarjeta .desc {
      width: 100%;
      height: 110px;
      margin-top: 0.4rem;
      display: flex;
      flex-direction: column;
      background-color: #054250;
      padding: 8px 16px 16px 16px; }
      .tarjetas .tarjeta .desc div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .tarjetas .tarjeta .desc div p {
          color: white;
          margin: 0 0 0 0; }

.cont {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center; }
  .cont form {
    width: 300px;
    display: flex;
    flex-direction: column; }
    .cont form div {
      width: 100%; }
      .cont form div input {
        width: 100%;
        border-radius: 0.4rem;
        margin-bottom: 3px;
        border: solid #002936;
        text-indent: 5px; }
    .cont form textarea {
      height: 320px;
      resize: none;
      border-radius: 0.4rem;
      border: solid #002936;
      text-indent: 5px; }
    .cont form .botone {
      margin-top: 3px;
      border: solid #002936;
      border-radius: 0.4rem; }
      .cont form .botone:hover {
        color: white;
        background-color: #054250;
        transition: 0.5s; }

#trucazo {
  opacity: 0; }

footer {
  width: 100%;
  height: 100%;
  background-color: #002936;
  margin-top: 2rem; }
  footer .telefonos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .telefonos .tel-l {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      margin-top: 2rem; }
      footer .telefonos .tel-l div {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 1rem; }
        footer .telefonos .tel-l div h3 {
          font-weight: 500;
          font-size: 1rem;
          transform: translateY(12px); }
        footer .telefonos .tel-l div p {
          font-size: 1rem;
          font-weight: 500;
          text-align: left;
          transform: translateY(7px); }
      footer .telefonos .tel-l a img {
        object-fit: contain;
        width: 50px; }
      footer .telefonos .tel-l a:hover {
        transform: scale(1.15);
        transition: 0.4s; }
    footer .telefonos .tel-r {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      margin-top: 2rem; }
      footer .telefonos .tel-r div {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 1rem; }
        footer .telefonos .tel-r div h3 {
          font-size: 1rem;
          font-weight: 500;
          transform: translatey(12px); }
        footer .telefonos .tel-r div p {
          font-size: 1rem;
          font-weight: 500;
          text-align: right;
          transform: translateY(7px); }
      footer .telefonos .tel-r a img {
        object-fit: contain;
        width: 50px; }
      footer .telefonos .tel-r a:hover {
        transform: scale(1.15);
        transition: 0.4s; }
  footer .yo {
    color: white;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column; }

@media screen and (max-width: 769px) {
  .yo {
    margin-top: 1rem; } }

@media screen and (max-width: 376px) {
  .telefonos {
    flex-direction: column; } }
