* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.backbody {
  background-color: #ccfdff;
  font-family: 'Mukta', sans-serif; }

nav {
  background-color: #002936;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999; }
  nav .hamb {
    padding: 1rem; }
    nav .hamb label img {
      display: block;
      cursor: pointer;
      margin-right: 1rem; }
    nav .hamb input {
      display: none; }
    nav .hamb ul {
      display: none;
      position: fixed;
      top: 90px;
      bottom: 0;
      width: 100%;
      height: 80%;
      left: 0;
      background-color: #054250;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      transition: 1s ease; }
      nav .hamb ul li {
        list-style: none; }
        nav .hamb ul li a {
          color: white;
          font-weight: 500;
          list-style: none;
          text-decoration: none;
          --clippy: polygon(0 0, 0 0, 0 100%, 0 100%); }
          nav .hamb ul li a::after {
            content: "";
            display: block;
            background-color: #ccfdff;
            width: 90%;
            height: 3px;
            clip-path: var(--clippy);
            transition: 0.5s; }
          nav .hamb ul li a:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            color: #ccfdff; }
    nav .hamb input:checked + ul {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  nav .true-nav {
    width: 100%;
    height: 100%; }
    nav .true-nav ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transform: translateX(-35px); }
      nav .true-nav ul li {
        margin: 0 1rem;
        list-style: none; }
        nav .true-nav ul li a {
          font-size: 1.6rem;
          text-decoration: none;
          color: white;
          font-weight: 500;
          --clippy: polygon(0 0, 0 0, 0 100%, 0 100%); }
          nav .true-nav ul li a::after {
            content: "";
            display: block;
            background-color: #177988;
            width: 90%;
            height: 3px;
            clip-path: var(--clippy);
            transition: 0.5s; }
          nav .true-nav ul li a:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            color: #177988; }
  nav .logo {
    padding: 1rem; }
    nav .logo a img {
      width: 60px;
      transition: 0.3s; }
      nav .logo a img:hover {
        transform: scale(1.15); }

@media screen and (max-width: 763px) {
  nav .true-nav ul {
    text-align: center; }
    nav .true-nav ul li a {
      font-size: 1.2rem; }
  .off {
    display: none; }
  .logo-1 {
    transform: translateX(-20px); } }

@media screen and (max-width: 376px) {
  nav .true-nav ul {
    transform: translateX(-35px);
    width: 140px; }
  .logo-1 {
    transform: translateX(5px); } }

header {
  width: 100%;
  height: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center; }
  header div {
    position: relative; }
    header div img {
      max-width: 30px;
      position: absolute;
      left: 2px;
      top: 5px; }
    header div input {
      width: 300px;
      height: 40px;
      border-radius: 0.8rem;
      border: solid #002936;
      text-indent: 30px; }
  header h1 {
    font-weight: 800;
    font-style: italic;
    font-size: 9rem; }

@media screen and (max-width: 769px) {
  header h1 {
    font-size: 6rem;
    text-align: center; }
  header div input {
    width: 250px; } }

@media screen and (max-width: 376px) {
  header h1 {
    font-size: 4rem;
    margin-top: 1rem; }
  header .h1-contacto {
    margin-top: 0;
    transform: translateY(-10px); } }

main {
  width: 100%; }
  main .carru {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    main .carru > div {
      width: 90%; }
  main h2 {
    margin: 2rem 0 0 3.5rem;
    font-size: 4rem;
    font-weight: 900; }

.tarjetas {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .tarjetas .tarjeta {
    width: 300px;
    background-color: #177988;
    margin: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .tarjetas .tarjeta img {
      width: 220px;
      height: 400px;
      object-fit: contain;
      margin-top: 1rem; }
    .tarjetas .tarjeta .desc {
      width: 100%;
      height: 110px;
      margin-top: 0.4rem;
      display: flex;
      flex-direction: column;
      background-color: #054250;
      padding: 8px 16px 16px 16px; }
      .tarjetas .tarjeta .desc div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .tarjetas .tarjeta .desc div p {
          color: white;
          margin: 0 0 0 0; }

footer {
  width: 100%;
  height: 100%;
  background-color: #002936;
  margin-top: 2rem; }
  footer .telefonos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .telefonos .tel-l {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      margin-top: 2rem; }
      footer .telefonos .tel-l div {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 1rem; }
        footer .telefonos .tel-l div h3 {
          font-weight: 500;
          font-size: 1rem;
          transform: translateY(12px); }
        footer .telefonos .tel-l div p {
          font-size: 1rem;
          font-weight: 500;
          text-align: left;
          transform: translateY(7px); }
      footer .telefonos .tel-l img {
        object-fit: contain;
        width: 50px; }
    footer .telefonos .tel-r {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      margin-top: 2rem; }
      footer .telefonos .tel-r div {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 1rem; }
        footer .telefonos .tel-r div h3 {
          font-size: 1rem;
          font-weight: 500;
          transform: translatey(12px); }
        footer .telefonos .tel-r div p {
          font-size: 1rem;
          font-weight: 500;
          text-align: right;
          transform: translateY(7px); }
      footer .telefonos .tel-r img {
        object-fit: contain;
        width: 50px; }
  footer .yo {
    color: white;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column; }

@media screen and (max-width: 769px) {
  .yo {
    margin-top: 1rem; } }

@media screen and (max-width: 376px) {
  .telefonos {
    flex-direction: column; } }
